.vs
.vscode
*.cbp
*.depend
*.layout

bin/
obj/
Artifacts/
src/main.bat
src/test_main.bat
src/a.exe
src/compile.bat
src/my_test.cpp
src/my_test.exe
src/pms.exe
src/test_main.exe
build/

DSTR-Assignment-workspace.code-workspace
src/Module/NurseModuletest.cpp
